[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = git@github.com:vim-erlang/vim-erlang-runtime.git
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = git@github.com:vim-erlang/vim-erlang-compiler.git
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = git@github.com:vim-erlang/vim-erlang-omnicomplete.git
[submodule "bundle/vim-erlang-tags"]
	path = bundle/vim-erlang-tags
	url = git@github.com:vim-erlang/vim-erlang-tags.git
